@import "vars"

@media (min-width: 1800px)
	.head-project
		&:after, &:before
			width: 85% !important

//Extra large: ≥1440px
+media-breakpoint-down(xl)
	.head-project
		&:after, &:before
			width: 77%
	.step
		&__block
			max-width: 1150px

//Large: ≥1200px  max-width: 1439px
+media-breakpoint-down(lg)
	.about-header
		&__ttl
			width: 220px
			height: 200px
			&:before
				width: 220px
	.numbs
		&__ttl
			width: 360px
			height: 360px
			&:before
				left: 35%
		&-item
			&__txt
				font-size: 12px


//Medium: ≥992px max-width: 1199px
+media-breakpoint-down(md)
	.head-project
		&:before, &:after
			width: 70%
		&__wrap
			max-width: 100%
			margin-right: 35%
			&-second
				margin-right: 0
		&__ttl
			font-size: 32px
	.team-item
		&_margin
			margin-bottom: 40px
	.foot
		&__logo
			float: right
	.map
		height: 250px
		margin-top: 40px
	.cprt
		text-align: center
		margin: 40px auto 0
	.test-wrap
		min-width: 992px
	.specialization
		&__txt
			&_i1, &_i2, &_i3
				top: 200px
				left: 0%
	.about-header
		&__ttl
			width: auto
			height: auto
			display: block
			vertical-align: top
			border: none
			text-align: left
			&:before
				content: ''
				left: -120px

		&__txt
			margin-top: 30px
	.numbs
		&__ttl
			&:before
				display: none
		&-item
			min-height: 136px
	.about-header
		&__img
			padding: 40px 0
		&__ttl
			&:before
				left: 0
		&__txt
			margin-top: 0
			margin-bottom: 30px
	.quotes-item
		&__txt
			font-size: 14px
	.numbs
		&__ttl
			width: auto
			height: auto
			border: none
			text-align: left
			font-size: 20px
		&-item
			&__numb
				font-size: 28px

//Small: ≥768px max-width: 991px
+media-breakpoint-down(sm)
	.head-project
		&:before, &:after
			width: 100%
		&__wrap
			float: none
			margin-right: 0
		&__name
			color: #fff
			&:before
				left: 0
				width: 100%
		&__btn
			&:before
				display: none
	.docs
		&__note
			display: none
		&-img
			&_i1
				&:before
					display: none
	.specialization
		&__note
			display: none
		&__txt
			max-width: 380px
			&_i1, &_i2, &_i3
				top: 100px
	.team
		&__note
			display: none
	.question-wrap
		&:before, &:after
			display: none
	.foot
		&__logo
			float: none
			margin: 0 auto 40px
		&__call
			&:first-child
				margin-top: 40px
	.test-wrap
		min-width: 768px
	.quotes-item
		&_i1
			margin-top: 30px

//Extra small: ≥576px max-width: 767px
+media-breakpoint-down(xs)
	.nav
		&__logo
			max-width: 160px
		&-btn
			float: right
	.head-project
		&__ttl
			font-size: 30px
		&__name
			margin-bottom: 10px
		&__wrap
			margin-top: 30px
			&-second
				margin-top: 0
		&__btn
			&:before
				display: block
				left: -25px
	.projects
		&__ttl
			font-size: 20px
	.team-item
		&__name
			font-size: 16px
		&__txt
			font-size: 14px
	.foot-list
		&__item
			padding: 10px
			margin: 0 25px
	.test-wrap
		min-width: 100%
	.step
		&__form
			display: block
		.rfield
		.rline
			display: table
			margin: 0 auto 20px
			&:last-child
				margin-left: auto
				margin-bottom: 0
	.specialization
		&__txt
			display: none
	.quotes-item
		&_i2
			margin-top: 30px
			.quotes-item__txt
				margin-top: 30px
		&_i3
			margin-top: 0
	.numbs
		&__ttl
			display: block
			text-align: center
			margin-bottom: 30px
		&-item
			min-height: 94px
			&__numb
				&:before
					display: none

//Extra small: >0 max-width: 575px
+media-breakpoint-down(xxs)
	.nav
		&__logo
			max-width: 100%
		&-btn
			width: 60px
			height: 40px
			background-size: 35px 20px
			margin-right: 20px
	.head-project
		&__ttl
			text-align: center
			font-size: 26px
			span
				font-size: 40px
		&__btn
			float: none
			margin: 40px auto 0
	.docs
		&__ttl
			font-size: 20px
	.specialization
		display: none
	.team
		padding-top: 0
		&__ttl
			font-size: 20px
	.question-wrap
		&__ttl
			font-size: 20px
	.question-wrap
		&__btn
			max-width: 290px
			font-size: 16px
	.foot-list
		&__item
			display: block
			margin: 0
			padding: 10px 0
	.test-wrap-list
		&__item
			margin-bottom: 20px
			&:before, &:after
				display: none
			&:last-child
				margin-bottom: 0
			span
				width: 34px
				height: 34px
				line-height: 34px
				font-size: 16px
	.radio
		display: block
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
		&_margin
			margin: 0 auto 20px
	.test-wrap-form
		&__btn
			font-size: 14px
	.about-header
		&__ttl
			margin-bottom: 30px
	.quotes
		&__ttl
			font-size: 22px
	.numbs
		&-item
			&__numb
				text-align: center
			&__txt
				text-align: center
